Source: sonnet
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Rohan Garg <rohangarg@kubuntu.org>
Build-Depends: debhelper (>= 8.0.0), cmake,
 extra-cmake-modules,
 pkg-kde-tools,
 qtbase5-dev (>= 5.2.0),
 hspell,
 libenchant-dev,
 pkg-config,
 libhunspell-dev,
 libaspell-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://projects.kde.org/sonnet

Package: libkf5sonnet-dev
Section: libdevel
Architecture: any
Depends: libkf5sonnetcore5 (= ${binary:Version}),
 libkf5sonnetui5 (= ${binary:Version})
Description: development headers for the sonnet framework
 This package contains development files for building software that uses
 libraries from the sonnet framework

Package: libkf5sonnetcore5
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: sonnet-plugins (= ${binary:Version})
Description:  Sonnet offers easy access to spell checking and is based
 Sonnet is a Qt based library that offers easy access to spell checking
 using various plugin based backends.

Package: libkf5sonnetui5
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: sonnet-plugins (= ${binary:Version})
Description: spell checking GUI components offered by sonnet
 This package provides Qt based GUI elements that can be used
 by projects to construct spell checking user interfaces.

Package: sonnet-plugins
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: spell checking plugins used by sonnet
 This package provides plugins used by sonnet to interact with
 the various spell checking backends.

Package: libkf5sonnet5-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libkf5sonnetcore5 (= ${binary:Version}), libkf5sonnetui5 (= ${binary:Version}), 
 ${shlibs:Depends}, ${misc:Depends}
Description: debugging symbols for the sonnet framework
 This package contains debugging files used to investigate problems with
 binaries included in the sonnet framework
